# API

APIPORT = # Port of FastAPI (Default 8000)
DBNAME = # Only file name without ".db" (Example: services)
APIKEY = # Generate any trust API key

# REDIS

REDISPORT = # Default 6379 (Recomended 6379)

# BOT

BOTTOKEN = # Create any bot here -> @BotFather, and paste its token
ADMIN_USERID = # Your personal account userid, you can get it here -> @userinfobot